replicaCount: 3
image:
  repository: nginx
  tag: latest

my-api:
  replicaCount: 3
  image:
    repository: nginx
    tag: latest
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

# O hook é opcional, então não precisa estar presente aqui
  postHook:
    enabled: true
    image:
      repository: busybox
      tag: latest
    command:
      - "echo"
      - "Hello from post-hook"
