replicaCount: 3
image:
  repository: nginx
  tag: latest

my-api:
  replicaCount: 3
  image:
    repository: nginx
    tag: latest
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

  postRolloutHook:
    enabled: true
    command: ["echo", "Aplicação my-api sincronizada com sucesso! Esse é um comando de POST-ROLLOUT"]
    containerName: "post-rollout-hook"