my-api:
  replicaCount: 3
  image:
    repository: nginx
    tag: latest
  resources:
    requests:
      cpu: "200m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

  canary:
    steps:
      - weight: 25
        pause: 1m
      - weight: 50
        pause: 3m
      - weight: 100
        pause: 5m

  postSync:
    enabled: trye
    generateName: my-app-postsync-
    annotations:
      argocd.argoproj.io/hook: PostSync
      argocd.argoproj.io/hook-delete-policy: HookSucceeded
    backoffLimit: 1
    restartPolicy: Never
    container:
      name: post-deploy
      image: busybox
      command: ["sh", "-c"]
      args: ["for i in $(seq 1 30); do echo $i; sleep 1; done"]
