replicaCount: 3
image:
  repository: nginx
  tag: latest

my-api:
  replicaCount: 3
  image:
    repository: nginx
    tag: latest
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi